@model DataAccessLayer.AspNetUser

@{
    ViewBag.Title = "Delete";
    if (ViewBag.deptid == "D4")
    {
        Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_EmpLayout.cshtml";
    }
}

<h2>Are you sure you want to delete this?</h2>
<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 alert alert-dark">

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartmentId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartmentId)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @*<button class="btn btn-default" onclick="location.href='@Url.Action("Empty","Emp")'"> Home</button>*@
                </div>
            }
        </div>
    </div>
</div>
