@model IEnumerable<DataAccessLayer.LeaveDetail>

@{
    ViewBag.Title = "GetLeaveById";
    

    if (ViewBag.deptid== "D4")
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_EmpLayout.cshtml";
    }


}

<h2 class="text-center">Complete Leave Schedule</h2>


<div class="container" style="margin-top:10px">
    
    <div class="row">
        
        <div class="col-lg-12 col-lg-offset-0 alert alert-info">
            <h4 class="col-md-offset-5 text-center btn btn-default">
                @Html.ActionLink("Create New leave", "CreateLeave")
            </h4>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AspNetUser.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayName( "Leave Type")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveDesc.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>

                    @if (item.Status == true)
                    {
                <td>
                    <button>
                        @Html.ActionLink("Details", "DetailsLeave", new { id = item.EventId })
                    </button>
                </td>
                    }
                    else if (item.Status == false)
                    {
                <td>
                    <button>
                        @Html.ActionLink("Details", "DetailsLeave", new { id = item.EventId })
                    </button>
                </td>
                    }
                    else
                    {
                <td>
                    <button>
                        @Html.ActionLink("Edit", "EditLeave", new { id = item.EventId })
                    </button>
                    <button>
                        @Html.ActionLink("Details", "DetailsLeave", new { id = item.EventId })
                    </button>
                    <button>
                        @Html.ActionLink("Delete", "Deleteleave", new { id = item.EventId })
                    </button>
                    @*<button class="col-sm-4 btn btn-info " onclick="location.href='@Url.Action("EditLeave ", "Emp",  { id = item.EventId} )'"> Edit</button><button class="col-sm-4 btn btn-info " onclick="location.href='@Url.Action("Details","DetailsLeave ",new {id = item.EventId  })'">Details</button><button class="col-sm-4 btn btn-info " onclick="location.href='@Url.Action("Delete","Deleteleave ",new { id = item.EventId  })'">Delete</button>*@
                </td>
                    }
                </tr>
                }

            </table>
        </div>
    </div>
</div>
