@model IEnumerable<DataAccessLayer.LeaveDetail>

@{
    ViewBag.Title = "GetLeaves";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2 class="text-center">Employee leave Details</h2>
    @*<h5 class="text-center col-lg-2 col-lg-offset-5   btn-info">
        @Html.ActionLink("Create New Leave", "CreateLeave")
    </h5>*@
<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-sm-0 col-sm-offset-0 alert alert-info">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AspNetUser.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayName("Leave Type")
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveDesc.Description)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <button>
                            @Html.ActionLink("Edit", "EditLeaveAdmin", new { id = item.EventId }) |
                        </button>
                        <button>
                            @Html.ActionLink("Details", "DetailsLeaveAdmin", new { id = item.EventId }) |
                        </button>
                        <button>
                            @Html.ActionLink("Delete", "DeleteleaveAdmin", new { id = item.EventId })
                        </button>
                    </td>
                </tr>
}

            </table>
            @using (Html.BeginForm("ExportLeaveData", "Emp", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table>
            <tr><td></td><td><input class="btn btn-success" type="submit" name="Export " id="Export" value="Export" /></td></tr>

        </table>
}
        </div>
        </div>
    </div>

